
.callback {
  background-image: url("../img/section_callback/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 70px;
  padding-bottom: 71px;
}

.callback__container {
  text-align: center;
}

.callback__title {
  width: 98%;
  font-weight: 700;
  font-size: 35px;
  line-height: 40px;
  margin-bottom: 17px;
}

.callback__subtitle {
  font-weight: 500;
  line-height: 26px;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 52px;
}

.form__data {
  display: flex;
  flex-direction: column;
  row-gap: 19px;
  margin-bottom: 49px;
}

.form__input {
  width: 425px;
  height: 46px;
  background-color: transparent;
  border-width: 2px;
  border-style: solid;
  border-color: #fff;
  border-radius: 50px;
  outline: none;
  padding: 0 25px 3px;
}

.form__input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.form__btn {
  width: 218px;
  height: 48px;
  font-weight: 500;
  font-size: 20px;
  color: inherit;
  background-color: #15a9cb;
  box-shadow: 0 4px 25px rgba(21, 169, 203, 0.3);
  border-radius: 50px;
  margin-bottom: 51px;
}

.agreement {
  font-size: 20px;
}

.agreement__text {
  display: inline-block;
  line-height: 21px;
}

.agreement__label {
  position: relative;
}

.agreement__checkbox {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.agreement__check {
  display: inline-block;
  vertical-align: top;
  line-height: 21px;
  color: #4a76a8;
  border-bottom: 1px solid #4a76a8;
  cursor: pointer;
}

.agreement__check:hover {
  border-bottom: none;
}

.agreement__checkbox:checked + .agreement__check {
  color: #fff;
  border-bottom: none;
}

@media (max-width: 1024px) {

  .callback {
    padding-bottom: 56px;
  }

  .callback__title {
    width: 93vw;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 16px;
  }

  .callback__subtitle {
    width: 96vw;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 48px;
  }

  .form__data {
    row-gap: 19px;
  }

  .form__input {
    width: 377px;
    height: 40px;
    border-width: 2px;
    padding: 0 20px;
  }

  .form__input::placeholder {
    font-size: 20px;
  }

  .form__btn {
    margin-bottom: 31px;
  }

  .agreement {
    font-size: 17px;
    line-height: 20px;
  }

  .agreement__check {
    line-height: 20px;
  }
}

@media (max-width: 768px) {

  .callback__title {
    font-size: 26px;
  }

  .callback__subtitle {
    font-size: 18px;
  }

  .agreement {
    font-size: 14px;
  }
}

@media (max-width: 480px) {

  .callback {
    padding-top: 31px;
    padding-bottom: 29px;
  }

  .callback__title {
    width: 90vw;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 12px;
  }

  .callback__subtitle {
    width: 90vw;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 35px;
  }

  .form__data {
    row-gap: 14px;
    margin-bottom: 45px;
  }

  .form__input {
    width: 100%;
    height: 29px;
    border-width: 1px;
    padding: 0 18px 6px;
  }

  .form__input::placeholder {
    font-size: 14px;
  }

  .form__btn {
    width: 174px;
    height: 38px;
    font-size: 16px;
    line-height: 19px;
    box-shadow: 0 2.67px 16.86px rgba(21, 169, 203, 0.3);
    margin-bottom: 30px;
  }

  .agreement {
    font-size: 11px;
    line-height: 13px;
  }

  .agreement__text {
    display: inline;
    line-height: 12px;
  }

  .agreement__check {
    line-height: 12px;
  }
}
